* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

.div1 {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  padding: 13px 100px;
}
.div2 {
  display: flex;
  gap: 5px;
}
.div3 {
  display: flex;
  gap: 20px;
}

select {
  border: none;
  color: #666666;
}
select:hover {
  background: linear-gradient(to right, rgb(149, 240, 181), rgb(20, 94, 66));
  color: white;
  border-radius: 5px;
}
.div4 {
  height: 1px;
  width: 100%;
  border: 1px solid #b1b0b0;
}
.div6 {
  display: flex;
  padding: 28px 100px;
  justify-content: space-between;
}
.div5 {
  display: flex;
  gap: 5px;
}
.inp1 {
  background-image: url(./icons/search.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-position: 5px;
  padding-left: 30px;
  width: 300px;
  height: 40px;
  font-size: 18px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border: 1px solid #666666;
}
.but1 {
  width: 98px;
  height: 40px;
  margin-left: -12px;
  margin-bottom: 12px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border: none;
  background-color: #00b207;
  font-size: 18px;
  color: white;
}
.but1:hover {
  background: repeating-linear-gradient(
    to right,
    rgb(214, 228, 11),
    rgb(146, 19, 16),
    rgb(15, 133, 223)
  );
  transform: scale(1.1);
  box-shadow: 0 0px 20px rgb(171, 184, 250);
  border-radius: 6px;
}
.div7 {
  display: flex;
  gap: 15px;
  height: 30px;
}
.img1 {
  display: flex;
}
.img1:hover {
  background-color: red;
  border-radius: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: scale(1.2);
}
.img2:hover {
  transform: scale(1.4);
}
.div8 {
  width: 100%;
  height: 60px;
  background-color: black;
  padding: 19px 100px;
  display: flex;
  gap: 450px;
  margin-bottom: 72px;
}
.div9 {
  display: flex;
  color: white;
  gap: 5px;
}
.white {
  color: white;
}
.div10 {
  border-radius: 10px;
  margin-bottom: 72px;
  padding: 80px 65px;
  height: 380px;
  background-image: url(./imges/photo_2025-11-28_03-23-49.jpg);
}
.h12 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.div11 {
  gap: 7px;
  display: flex;
}
.but2 {
  padding-left: 40px;
  padding-top: 14px;
  gap: 8px;
  color: white;
  width: 162px;
  height: 45px;
  background-color: #00b207;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  display: flex;
}
.img3 {
  width: 20px;
  height: 15px;
}
.but2:hover {
  background: repeating-linear-gradient(
    to right,
    rgb(124, 245, 103),
    rgb(124, 238, 122),
    rgb(68, 248, 68)
  );
  transform: scale(1.1);
  box-shadow: 0 0px 20px rgb(171, 250, 250);
  border-radius: 20px;
}
.div12 {
  position: relative;
  width: 268px;
  height: 325px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
}
.div12:hover {
  transform: scale(1.03);
  border: 1px solid #80b082;
  box-shadow: 0 4px 12px #619463;
}
.section1 {
  display: flex;
  gap: 24px;
}
.img4 {
  width: 260px;
  height: 302px;
  margin-left: -10px;
  margin-top: -70px;
}
.div13 {
  display: flex;
  justify-content: space-between;
}
.img5 {
  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-left: 10px;
}
.div14 {
  margin-top: 8px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  background-color: #e5e5e5;
  border-radius: 50%;
}

.div14:hover {
  background-color: #00b207;
  transform: scale(1.2);
}
.div14:active {
  transform: scale(1.1);
  transition: all o.3s;
  left: 300px;
  background: aqua;
}

#number0 {
  color: white;
  position: absolute;
  right: 203px;
  top: 65px;
  padding-left: 3.3px;
  padding-top: 2.8px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #2c742f;
}
.section1 {
  display: flex;
}
.div13:hover {
  color: green;
}
.img6 {
  width: 265px;
  height: 200px;
  margin-top: 2px;
}
.img7 {
  height: 190px;
  margin-top: 10px;
}
.img8 {
  margin-top: 20px;
  margin-left: 500px;
}



footer {
  background: #1c1616;
  color: #ddd;
  padding: 40px 8%;
}



.newsletter h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 14px;
  color: #ffeeeeea;
  margin-bottom: 20px;
}

.lower-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.subscribe-box input {
  padding: 10px;
  width: 280px;
  border: none;
  border-radius: 4px;
}

.subscribe-box button {
  padding: 10px 20px;
  border: none;
  background: #00c853;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  margin-top: 40px;
}

.footer-col h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 6px;
  font-size: 14px;
  color: #bbb;
  cursor: pointer;
}

.logo {
  font-size: 22px;
  color: #00e676;
  margin-bottom: 10px;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #777777;
}
